{% extends 'base.html.twig' %}

{% block title %}MaSalle - Gestion des produits{% endblock %}

{% block body %}

        <h1 class="uppercase font-bold text-2xl my-3 ml-10">Gestion des produits</h1>

        <div class="flex justify-end mb-3 w-5/6">

            <a href="{{ path('product_create') }}"
               class="mt-5 inline-flex justify-center py-2 px-4 border border-transparent shadow-sm text-sm font-medium rounded-md text-white bg-green-600 hover:bg-green-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-green-500">
                Nouveau produit
            </a>
        </div>

        <div class="flex flex-col mx-10 <">
            <div class="-my-2 overflow-x-auto sm:-mx-6 lg:-mx-8">
                <div class="py-2 align-middle inline-block min-w-full sm:px-6 lg:px-8">
                    <div class="shadow overflow-hidden border-b border-gray-200 sm:rounded-lg">
                        <table class="min-w-full divide-y divide-gray-200">
                            <thead class="bg-gray-50">
                            <tr>
                                <th scope="col"
                                    class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                                    Nom
                                </th>

                                <th scope="col"
                                    class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider hidden md:table-cell">
                                    Prix
                                </th>
                                <th scope="col"
                                    class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider hidden lg:table-cell">
                                    Image
                                </th>

                                <th scope="col" class="relative px-6 py-3">
                                    <span class="sr-only">Edit</span>
                                </th>
                            </tr>
                            </thead>
                            <tbody class="bg-white divide-y divide-gray-200">

                            {% for product in vm.products %}
                                <tr>
                                    <td class="px-6 py-4 whitespace-nowrap">
                                        {{ product.name }}
                                    </td>
                                    <td class="px-6 py-4 whitespace-nowrap hidden md:table-cell">
                                        {{ product.price }} €
                                    </td>
                                    <td class="px-6 py-4 whitespace-nowrap hidden lg:table-cell">
                                        <img src="{{ asset( product.image ) }}" class="rounded"
                                             style="height: 100px" alt="">
                                    </td>

                                    <td class="px-6 py-4 whitespace-nowrap text-right text-sm font-medium flex flex-col">

                                        <a class="text-pink-600 hover:text-pink-600"
                                           href="{{ path('product_update', {'id': product.id}) }}">Editer</a>
                                        <a class="text-pink-600 hover:text-pink-600"
                                           href="{{ path('product_remove', { id: product.id }) }}">Supprimer</a>
                                    </td>

                                </tr>

                            {% endfor %}

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

            {% include "components/pagination.html.twig" with {'page': vm.currentPage, 'pages': vm.pages, 'limit': vm.limit} %}
        </div>
{% endblock %}
