{% extends 'base.html.twig' %}

{% block title %}MaSalle - {{ article.title }}{% endblock %}

{% block body %}

    <section class="px-10">

        <h1 class="mt-5 mb-2 text-xl
         uppercase font-bold">{{ article.title }}</h1>

        <div class="flex w-full ml-10 mb-2">
            <div class="uppercase text-pink-600 text-xs">
                {{ article.category.title }}
            </div>
            <span class="text-black mx-1 text-xs">/</span>
            <div class="text-black text-xs">
                {{ article.createdAt|date("m/d/Y", "Europe/Paris") }}
            </div>
            <span class="text-black mx-1 text-xs">/</span>
            <div class="text-black text-xs">
                rédigé par {{ article.redactor.pseudo }}
            </div>
        </div>
        <hr class="mb-2">

        <p class="text-justify capitalize">{{ article.content|raw }}</p>
    </section>

{% endblock %}
