{% set notificationCount = 0 %}
{% set notifications = [] %}

{% for type, messages in app.session.flashbag.all() %}

    {% set notificationCount = notificationCount + 1 %}

    {% for message in messages %}

        {% set notifications = notifications|merge([message]) %}

    {% endfor %}

{% endfor %}
<div class="flex justify-center w-full h-16 absolute">
    <nav class="bg-white w-full lg:w-3/4 rounded-none lg:rounded">
        <div class="max-w-7xl mx-auto px-2 sm:px-6 lg:px-8">
            <div class="relative flex items-center justify-between h-16">
                <div class="absolute inset-y-0 left-0 flex items-center sm:hidden">
                    <!-- Mobile menu button-->
                    <p id="mobileButton"
                       class="cursor-pointer inline-flex items-center justify-center p-2 rounded-md text-gray-400 hover:text-white hover:bg-blue-700 hover:outline-none hover:ring-2 hover:ring-inset hover:ring-white"
                       aria-expanded="false">
                        <span class="sr-only">Open main menu</span>

                        <svg class="block h-6 w-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                             stroke="currentColor" aria-hidden="true">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                  d="M4 6h16M4 12h16M4 18h16"/>
                        </svg>

                        <svg class="hidden h-6 w-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                             stroke="currentColor" aria-hidden="true">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                  d="M6 18L18 6M6 6l12 12"/>
                        </svg>
                    </p>
                </div>
                <div class="flex-1 flex items-center justify-center sm:items-stretch sm:justify-start">
                    <div class="flex-shrink-0 flex items-center">
                        <a href="{{ path('home') }}">

                            <svg class="hidden lg:block h-5 w-auto" width="154" height="38" viewBox="0 0 154 38"
                                 fill="none"
                                 xmlns="http://www.w3.org/2000/svg">
                                <path d="M35.7 34H32.844V21.778C32.844 19.258 32.438 17.396 31.626 16.192C30.814 14.96 29.61 14.344 28.014 14.344C26.334 14.344 24.85 14.932 23.562 16.108C22.274 17.284 21.364 18.796 20.832 20.644V34H17.976V21.778C17.976 19.202 17.57 17.326 16.758 16.15C15.974 14.946 14.784 14.344 13.188 14.344C11.536 14.344 10.052 14.918 8.736 16.066C7.448 17.214 6.538 18.726 6.006 20.602V34H3.15V12.118H5.754V17.074C6.65 15.394 7.826 14.092 9.282 13.168C10.738 12.216 12.348 11.74 14.112 11.74C15.932 11.74 17.402 12.272 18.522 13.336C19.642 14.372 20.328 15.716 20.58 17.368C22.596 13.616 25.41 11.74 29.022 11.74C31.486 11.74 33.208 12.608 34.188 14.344C35.196 16.052 35.7 18.334 35.7 21.19V34ZM39.9817 27.7C39.9817 26.356 40.3737 25.194 41.1577 24.214C41.9417 23.206 43.0197 22.422 44.3917 21.862C45.7917 21.302 47.4017 21.022 49.2217 21.022C50.2857 21.022 51.3917 21.12 52.5397 21.316C53.6877 21.484 54.7097 21.722 55.6057 22.03V20.182C55.6057 18.334 55.0597 16.864 53.9677 15.772C52.8757 14.68 51.3637 14.134 49.4317 14.134C48.2837 14.134 47.1357 14.358 45.9877 14.806C44.8397 15.226 43.6497 15.856 42.4177 16.696L41.3257 14.68C42.7537 13.7 44.1537 12.972 45.5257 12.496C46.8977 11.992 48.2977 11.74 49.7257 11.74C52.4137 11.74 54.5417 12.51 56.1097 14.05C57.6777 15.59 58.4617 17.718 58.4617 20.434V30.556C58.4617 31.312 58.8117 31.704 59.5117 31.732V34C58.8957 34.084 58.4617 34.112 58.2097 34.084C57.5097 34.056 56.9777 33.832 56.6137 33.412C56.2497 32.992 56.0537 32.544 56.0257 32.068L55.9837 30.472C55.0037 31.732 53.7297 32.712 52.1617 33.412C50.5937 34.084 48.9977 34.42 47.3737 34.42C45.9457 34.42 44.6717 34.126 43.5517 33.538C42.4317 32.922 41.5497 32.11 40.9057 31.102C40.2897 30.066 39.9817 28.932 39.9817 27.7ZM54.6397 29.38C55.2837 28.624 55.6057 27.924 55.6057 27.28V24.088C53.6737 23.332 51.6577 22.954 49.5577 22.954C47.5137 22.954 45.8617 23.36 44.6017 24.172C43.3417 24.984 42.7117 26.09 42.7117 27.49C42.7117 28.694 43.1737 29.786 44.0977 30.766C45.0497 31.746 46.3657 32.236 48.0457 32.236C49.4177 32.236 50.6917 31.97 51.8677 31.438C53.0717 30.906 53.9957 30.22 54.6397 29.38ZM71.8144 34.42C70.0224 34.42 68.3564 34.126 66.8164 33.538C65.3044 32.922 63.9744 32.026 62.8264 30.85L64.0024 28.834C65.2344 29.982 66.4664 30.822 67.6984 31.354C68.9584 31.858 70.2884 32.11 71.6884 32.11C73.3684 32.11 74.7404 31.774 75.8044 31.102C76.8964 30.402 77.4424 29.408 77.4424 28.12C77.4424 27.252 77.1764 26.594 76.6444 26.146C76.1404 25.67 75.3984 25.292 74.4184 25.012C73.4664 24.732 72.3184 24.41 70.9744 24.046C69.4624 23.626 68.1884 23.192 67.1524 22.744C66.1444 22.268 65.3744 21.68 64.8424 20.98C64.3384 20.252 64.0864 19.314 64.0864 18.166C64.0864 16.766 64.4364 15.59 65.1364 14.638C65.8644 13.686 66.8444 12.972 68.0764 12.496C69.3364 11.992 70.7364 11.74 72.2764 11.74C73.9564 11.74 75.4404 12.006 76.7284 12.538C78.0164 13.07 79.0664 13.812 79.8784 14.764L78.4924 16.696C77.7364 15.8 76.7984 15.142 75.6784 14.722C74.5864 14.274 73.3964 14.05 72.1084 14.05C71.2124 14.05 70.3584 14.176 69.5464 14.428C68.7344 14.652 68.0624 15.044 67.5304 15.604C67.0264 16.136 66.7744 16.878 66.7744 17.83C66.7744 19.006 67.2084 19.818 68.0764 20.266C68.9444 20.714 70.2604 21.19 72.0244 21.694C73.6764 22.142 75.1184 22.59 76.3504 23.038C77.5824 23.486 78.5344 24.088 79.2064 24.844C79.8784 25.572 80.2144 26.594 80.2144 27.91C80.2144 29.954 79.4444 31.55 77.9044 32.698C76.3644 33.846 74.3344 34.42 71.8144 34.42ZM83.1712 27.7C83.1712 26.356 83.5632 25.194 84.3472 24.214C85.1312 23.206 86.2092 22.422 87.5812 21.862C88.9812 21.302 90.5912 21.022 92.4112 21.022C93.4752 21.022 94.5812 21.12 95.7292 21.316C96.8772 21.484 97.8992 21.722 98.7952 22.03V20.182C98.7952 18.334 98.2492 16.864 97.1572 15.772C96.0652 14.68 94.5532 14.134 92.6212 14.134C91.4732 14.134 90.3252 14.358 89.1772 14.806C88.0292 15.226 86.8392 15.856 85.6072 16.696L84.5152 14.68C85.9432 13.7 87.3432 12.972 88.7152 12.496C90.0872 11.992 91.4872 11.74 92.9152 11.74C95.6032 11.74 97.7312 12.51 99.2992 14.05C100.867 15.59 101.651 17.718 101.651 20.434V30.556C101.651 31.312 102.001 31.704 102.701 31.732V34C102.085 34.084 101.651 34.112 101.399 34.084C100.699 34.056 100.167 33.832 99.8032 33.412C99.4392 32.992 99.2432 32.544 99.2152 32.068L99.1732 30.472C98.1932 31.732 96.9192 32.712 95.3512 33.412C93.7832 34.084 92.1872 34.42 90.5632 34.42C89.1352 34.42 87.8612 34.126 86.7412 33.538C85.6212 32.922 84.7392 32.11 84.0952 31.102C83.4792 30.066 83.1712 28.932 83.1712 27.7ZM97.8292 29.38C98.4732 28.624 98.7952 27.924 98.7952 27.28V24.088C96.8632 23.332 94.8472 22.954 92.7472 22.954C90.7032 22.954 89.0512 23.36 87.7912 24.172C86.5312 24.984 85.9012 26.09 85.9012 27.49C85.9012 28.694 86.3632 29.786 87.2872 30.766C88.2392 31.746 89.5552 32.236 91.2352 32.236C92.6072 32.236 93.8812 31.97 95.0572 31.438C96.2612 30.906 97.1852 30.22 97.8292 29.38ZM107.948 3.34H110.804V29.044C110.804 30.136 110.986 30.85 111.35 31.186C111.742 31.522 112.232 31.69 112.82 31.69C113.324 31.69 113.828 31.634 114.332 31.522C114.864 31.41 115.298 31.298 115.634 31.186L116.138 33.496C115.606 33.72 114.948 33.902 114.164 34.042C113.408 34.182 112.75 34.252 112.19 34.252C110.902 34.252 109.866 33.874 109.082 33.118C108.326 32.362 107.948 31.326 107.948 30.01V3.34ZM119.391 3.34H122.247V29.044C122.247 30.136 122.429 30.85 122.793 31.186C123.185 31.522 123.675 31.69 124.263 31.69C124.767 31.69 125.271 31.634 125.775 31.522C126.307 31.41 126.741 31.298 127.077 31.186L127.581 33.496C127.049 33.72 126.391 33.902 125.607 34.042C124.851 34.182 124.193 34.252 123.633 34.252C122.345 34.252 121.309 33.874 120.525 33.118C119.769 32.362 119.391 31.326 119.391 30.01V3.34ZM140.159 34.42C138.059 34.42 136.183 33.902 134.531 32.866C132.879 31.83 131.577 30.444 130.625 28.708C129.673 26.972 129.197 25.068 129.197 22.996C129.197 20.952 129.659 19.076 130.583 17.368C131.535 15.66 132.837 14.302 134.489 13.294C136.141 12.258 138.017 11.74 140.117 11.74C142.273 11.74 144.163 12.258 145.787 13.294C147.411 14.33 148.671 15.702 149.567 17.41C150.491 19.09 150.953 20.938 150.953 22.954C150.953 23.402 150.939 23.78 150.911 24.088H132.179C132.319 25.656 132.767 27.056 133.523 28.288C134.279 29.492 135.245 30.458 136.421 31.186C137.597 31.886 138.885 32.236 140.285 32.236C141.713 32.236 143.057 31.872 144.317 31.144C145.577 30.416 146.473 29.464 147.005 28.288L149.483 28.96C149.035 30.024 148.335 30.976 147.383 31.816C146.459 32.628 145.381 33.272 144.149 33.748C142.917 34.196 141.587 34.42 140.159 34.42ZM132.095 22.03H148.265C148.153 20.462 147.719 19.076 146.963 17.872C146.207 16.64 145.241 15.688 144.065 15.016C142.889 14.316 141.587 13.966 140.159 13.966C138.731 13.966 137.429 14.316 136.253 15.016C135.077 15.688 134.111 16.64 133.355 17.872C132.627 19.076 132.207 20.462 132.095 22.03Z"
                                      fill="#2459D8"/>
                                <path d="M35.7 34V37H38.7V34H35.7ZM32.844 34H29.844V37H32.844V34ZM31.626 16.192L29.1211 17.8429L29.1299 17.8562L29.1388 17.8694L31.626 16.192ZM23.562 16.108L21.5392 13.8925L21.5392 13.8925L23.562 16.108ZM20.832 20.644L17.9491 19.8141L17.832 20.2208V20.644H20.832ZM20.832 34V37H23.832V34H20.832ZM17.976 34H14.976V37H17.976V34ZM16.758 16.15L14.244 17.787L14.2662 17.8211L14.2893 17.8546L16.758 16.15ZM8.736 16.066L6.76389 13.8053L6.75183 13.8158L6.73989 13.8265L8.736 16.066ZM6.006 20.602L3.11981 19.7835L3.006 20.1849V20.602H6.006ZM6.006 34V37H9.006V34H6.006ZM3.15 34H0.15V37H3.15V34ZM3.15 12.118V9.118H0.15V12.118H3.15ZM5.754 12.118H8.754V9.118H5.754V12.118ZM5.754 17.074H2.754L8.40106 18.4858L5.754 17.074ZM9.282 13.168L10.8895 15.701L10.9067 15.6901L10.9237 15.6789L9.282 13.168ZM18.522 13.336L16.4558 15.511L16.4702 15.5247L16.4849 15.5383L18.522 13.336ZM20.58 17.368L17.6143 17.8204L18.9694 26.7038L23.2227 18.7879L20.58 17.368ZM34.188 14.344L31.5755 15.8188L31.5897 15.8439L31.6044 15.8688L34.188 14.344ZM35.7 31H32.844V37H35.7V31ZM35.844 34V21.778H29.844V34H35.844ZM35.844 21.778C35.844 19.0488 35.4253 16.46 34.1132 14.5146L29.1388 17.8694C29.4507 18.332 29.844 19.4672 29.844 21.778H35.844ZM34.1309 14.5411C32.712 12.3883 30.5208 11.344 28.014 11.344V17.344C28.6992 17.344 28.916 17.5317 29.1211 17.8429L34.1309 14.5411ZM28.014 11.344C25.5546 11.344 23.3568 12.233 21.5392 13.8925L25.5848 18.3235C26.3433 17.631 27.1134 17.344 28.014 17.344V11.344ZM21.5392 13.8925C19.8008 15.4798 18.6181 17.49 17.9491 19.8141L23.7149 21.4739C24.1099 20.1019 24.7472 19.0882 25.5848 18.3235L21.5392 13.8925ZM17.832 20.644V34H23.832V20.644H17.832ZM20.832 31H17.976V37H20.832V31ZM20.976 34V21.778H14.976V34H20.976ZM20.976 21.778C20.976 19.0188 20.5661 16.3852 19.2267 14.4454L14.2893 17.8546C14.5739 18.2668 14.976 19.3852 14.976 21.778H20.976ZM19.272 14.513C17.8656 12.3531 15.6657 11.344 13.188 11.344V17.344C13.9023 17.344 14.0824 17.5389 14.244 17.787L19.272 14.513ZM13.188 11.344C10.767 11.344 8.59235 12.2103 6.76389 13.8053L10.7081 18.3267C11.5117 17.6257 12.305 17.344 13.188 17.344V11.344ZM6.73989 13.8265C4.97253 15.4017 3.78657 17.4323 3.11981 19.7835L8.89219 21.4205C9.28943 20.0197 9.92347 19.0263 10.7321 18.3055L6.73989 13.8265ZM3.006 20.602V34H9.006V20.602H3.006ZM6.006 31H3.15V37H6.006V31ZM6.15 34V12.118H0.15V34H6.15ZM3.15 15.118H5.754V9.118H3.15V15.118ZM2.754 12.118V17.074H8.754V12.118H2.754ZM8.40106 18.4858C9.0792 17.2142 9.91544 16.3191 10.8895 15.701L7.67453 10.635C5.73656 11.8649 4.2208 13.5737 3.10694 15.6622L8.40106 18.4858ZM10.9237 15.6789C11.8844 15.0508 12.9225 14.74 14.112 14.74V8.74C11.7735 8.74 9.59155 9.38124 7.64025 10.6571L10.9237 15.6789ZM14.112 14.74C15.3093 14.74 15.991 15.0695 16.4558 15.511L20.5882 11.161C18.813 9.47448 16.5547 8.74 14.112 8.74V14.74ZM16.4849 15.5383C17.0578 16.0682 17.4544 16.7718 17.6143 17.8204L23.5457 16.9156C23.2016 14.6602 22.2262 12.6758 20.5591 11.1337L16.4849 15.5383ZM23.2227 18.7879C24.8286 15.7991 26.7341 14.74 29.022 14.74V8.74C24.0859 8.74 20.3634 11.4329 17.9373 15.9481L23.2227 18.7879ZM29.022 14.74C30.7037 14.74 31.2602 15.2602 31.5755 15.8188L36.8005 12.8692C35.1558 9.95583 32.2683 8.74 29.022 8.74V14.74ZM31.6044 15.8688C32.2455 16.955 32.7 18.648 32.7 21.19H38.7C38.7 18.02 38.1465 15.149 36.7716 12.8192L31.6044 15.8688ZM32.7 21.19V34H38.7V21.19H32.7ZM41.1577 24.214L43.5003 26.0881L43.5131 26.072L43.5258 26.0558L41.1577 24.214ZM44.3917 21.862L43.2775 19.0766L43.2678 19.0805L43.258 19.0845L44.3917 21.862ZM52.5397 21.316L52.0348 24.2732L52.07 24.2792L52.1053 24.2844L52.5397 21.316ZM55.6057 22.03L54.6305 24.8671L58.6057 26.2335V22.03H55.6057ZM45.9877 14.806L47.0184 17.6234L47.0485 17.6124L47.0783 17.6007L45.9877 14.806ZM42.4177 16.696L39.7798 18.1248L41.3624 21.0465L44.1077 19.1747L42.4177 16.696ZM41.3257 14.68L39.6282 12.2065L37.4017 13.7344L38.6878 16.1088L41.3257 14.68ZM45.5257 12.496L46.509 15.3303L46.5347 15.3214L46.5602 15.312L45.5257 12.496ZM59.5117 31.732H62.5117V28.8496L59.6316 28.7344L59.5117 31.732ZM59.5117 34L59.917 36.9725L62.5117 36.6187V34H59.5117ZM58.2097 34.084L58.541 31.1023L58.4356 31.0906L58.3296 31.0864L58.2097 34.084ZM56.6137 33.412L54.3466 35.3768L56.6137 33.412ZM56.0257 32.068L53.0267 32.1469L53.028 32.1956L53.0309 32.2442L56.0257 32.068ZM55.9837 30.472L58.9827 30.3931L58.7621 22.0133L53.6156 28.6302L55.9837 30.472ZM52.1617 33.412L53.3435 36.1694L53.3641 36.1606L53.3847 36.1514L52.1617 33.412ZM43.5517 33.538L42.1059 36.1666L42.1314 36.1807L42.1572 36.1942L43.5517 33.538ZM40.9057 31.102L38.3271 32.6352L38.3517 32.6766L38.3776 32.7172L40.9057 31.102ZM54.6397 29.38L52.356 27.4346L52.3059 27.4934L52.2589 27.5547L54.6397 29.38ZM55.6057 24.088H58.6057V22.0404L56.6989 21.2943L55.6057 24.088ZM44.0977 30.766L41.9149 32.824L41.9303 32.8403L41.9459 32.8564L44.0977 30.766ZM51.8677 31.438L50.6552 28.6939L50.6432 28.6993L50.6312 28.7047L51.8677 31.438ZM42.9817 27.7C42.9817 26.9854 43.1731 26.4971 43.5003 26.0881L38.8151 22.3399C37.5743 23.8909 36.9817 25.7266 36.9817 27.7H42.9817ZM43.5258 26.0558C43.9387 25.5248 44.5608 25.0333 45.5254 24.6395L43.258 19.0845C41.4786 19.8107 39.9447 20.8872 38.7896 22.3722L43.5258 26.0558ZM45.5059 24.6474C46.4864 24.2552 47.7063 24.022 49.2217 24.022V18.022C47.0971 18.022 45.097 18.3488 43.2775 19.0766L45.5059 24.6474ZM49.2217 24.022C50.1015 24.022 51.0381 24.103 52.0348 24.2732L53.0446 18.3588C51.7453 18.137 50.4699 18.022 49.2217 18.022V24.022ZM52.1053 24.2844C53.1086 24.4312 53.9442 24.6312 54.6305 24.8671L56.5809 19.1929C55.4752 18.8128 54.2668 18.5368 52.9741 18.3476L52.1053 24.2844ZM58.6057 22.03V20.182H52.6057V22.03H58.6057ZM58.6057 20.182C58.6057 17.706 57.852 15.4137 56.089 13.6507L51.8464 17.8933C52.2674 18.3143 52.6057 18.962 52.6057 20.182H58.6057ZM56.089 13.6507C54.301 11.8627 51.9484 11.134 49.4317 11.134V17.134C50.779 17.134 51.4504 17.4973 51.8464 17.8933L56.089 13.6507ZM49.4317 11.134C47.8839 11.134 46.367 11.4377 44.8971 12.0113L47.0783 17.6007C47.9044 17.2783 48.6835 17.134 49.4317 17.134V11.134ZM44.957 11.9886C43.5317 12.5101 42.1215 13.267 40.7277 14.2173L44.1077 19.1747C45.1779 18.445 46.1477 17.9419 47.0184 17.6234L44.957 11.9886ZM45.0556 15.2671L43.9636 13.2511L38.6878 16.1088L39.7798 18.1248L45.0556 15.2671ZM43.0232 17.1535C44.2714 16.297 45.4332 15.7035 46.509 15.3303L44.5424 9.66173C42.8742 10.2405 41.236 11.103 39.6282 12.2065L43.0232 17.1535ZM46.5602 15.312C47.6088 14.9268 48.659 14.74 49.7257 14.74V8.74C47.9364 8.74 46.1866 9.0572 44.4913 9.67999L46.5602 15.312ZM49.7257 14.74C51.8135 14.74 53.1206 15.3192 54.0076 16.1903L58.2118 11.9097C55.9628 9.70077 53.0139 8.74 49.7257 8.74V14.74ZM54.0076 16.1903C54.8717 17.039 55.4617 18.3212 55.4617 20.434H61.4617C61.4617 17.1148 60.4837 14.141 58.2118 11.9097L54.0076 16.1903ZM55.4617 20.434V30.556H61.4617V20.434H55.4617ZM55.4617 30.556C55.4617 31.3517 55.6429 32.4703 56.4864 33.415C57.3651 34.3992 58.5106 34.6944 59.3918 34.7296L59.6316 28.7344C59.8129 28.7416 60.4333 28.8268 60.962 29.419C61.4555 29.9717 61.4617 30.5163 61.4617 30.556H55.4617ZM56.5117 31.732V34H62.5117V31.732H56.5117ZM59.1064 31.0275C58.8417 31.0636 58.6542 31.0823 58.5311 31.0902C58.4708 31.0941 58.4398 31.0945 58.4328 31.0945C58.422 31.0945 58.4634 31.0937 58.541 31.1023L57.8784 37.0657C58.5398 37.1391 59.308 37.0555 59.917 36.9725L59.1064 31.0275ZM58.3296 31.0864C58.2644 31.0838 58.3222 31.0763 58.4499 31.1301C58.5911 31.1896 58.7496 31.2959 58.8808 31.4472L54.3466 35.3768C55.3871 36.5773 56.7915 37.0297 58.0898 37.0816L58.3296 31.0864ZM58.8808 31.4472C58.8702 31.435 58.9038 31.4708 58.9422 31.5585C58.9826 31.651 59.0132 31.7668 59.0205 31.8918L53.0309 32.2442C53.1039 33.4857 53.6242 34.5432 54.3466 35.3768L58.8808 31.4472ZM59.0247 31.9891L58.9827 30.3931L52.9847 30.5509L53.0267 32.1469L59.0247 31.9891ZM53.6156 28.6302C52.9606 29.4724 52.0921 30.1577 50.9388 30.6726L53.3847 36.1514C55.3673 35.2663 57.0468 33.9916 58.3518 32.3138L53.6156 28.6302ZM50.9799 30.6546C49.7662 31.1747 48.5711 31.42 47.3737 31.42V37.42C49.4244 37.42 51.4212 36.9933 53.3435 36.1694L50.9799 30.6546ZM47.3737 31.42C46.3682 31.42 45.5833 31.2163 44.9462 30.8818L42.1572 36.1942C43.7601 37.0357 45.5232 37.42 47.3737 37.42V31.42ZM44.9975 30.9094C44.2863 30.5182 43.789 30.0428 43.4338 29.4868L38.3776 32.7172C39.3104 34.1772 40.5772 35.3258 42.1059 36.1666L44.9975 30.9094ZM43.4843 29.5688C43.1505 29.0073 42.9817 28.4049 42.9817 27.7H36.9817C36.9817 29.4591 37.4289 31.1247 38.3271 32.6352L43.4843 29.5688ZM56.9234 31.3254C57.7904 30.3077 58.6057 28.9351 58.6057 27.28H52.6057C52.6057 27.0926 52.6539 27.0014 52.6387 27.0343C52.6201 27.0747 52.5482 27.2089 52.356 27.4346L56.9234 31.3254ZM58.6057 27.28V24.088H52.6057V27.28H58.6057ZM56.6989 21.2943C54.4142 20.4003 52.0271 19.954 49.5577 19.954V25.954C51.2883 25.954 52.9332 26.2637 54.5125 26.8817L56.6989 21.2943ZM49.5577 19.954C47.1404 19.954 44.8674 20.4317 42.9766 21.6503L46.2268 26.6937C46.856 26.2883 47.887 25.954 49.5577 25.954V19.954ZM42.9766 21.6503C40.9321 22.9679 39.7117 24.9871 39.7117 27.49H45.7117C45.7117 27.2573 45.7589 27.1517 45.791 27.0954C45.8279 27.0305 45.9307 26.8845 46.2268 26.6937L42.9766 21.6503ZM39.7117 27.49C39.7117 29.5522 40.5336 31.3589 41.9149 32.824L46.2805 28.708C45.8139 28.2131 45.7117 27.8358 45.7117 27.49H39.7117ZM41.9459 32.8564C43.5876 34.5464 45.7536 35.236 48.0457 35.236V29.236C46.9778 29.236 46.5118 28.9456 46.2495 28.6756L41.9459 32.8564ZM48.0457 35.236C49.8168 35.236 51.5155 34.89 53.1042 34.1713L50.6312 28.7047C49.8679 29.05 49.0186 29.236 48.0457 29.236V35.236ZM53.0802 34.1821C54.6341 33.4955 56.0044 32.5307 57.0205 31.2053L52.2589 27.5547C51.987 27.9093 51.5094 28.3165 50.6552 28.6939L53.0802 34.1821ZM66.8164 33.538L65.6845 36.3163L65.7153 36.3288L65.7463 36.3407L66.8164 33.538ZM62.8264 30.85L60.2351 29.3384L59.0842 31.3112L60.6797 32.9456L62.8264 30.85ZM64.0024 28.834L66.0476 26.6392L63.302 24.0808L61.4111 27.3224L64.0024 28.834ZM67.6984 31.354L66.5091 34.1082L66.5465 34.1243L66.5843 34.1394L67.6984 31.354ZM75.8044 31.102L77.4064 33.6385L77.4149 33.6331L77.4234 33.6276L75.8044 31.102ZM76.6444 26.146L74.5846 28.327L74.6467 28.3857L74.712 28.4407L76.6444 26.146ZM74.4184 25.012L73.5719 27.8901L73.5831 27.8934L73.5943 27.8966L74.4184 25.012ZM70.9744 24.046L70.1715 26.9366L70.1808 26.9391L70.1902 26.9417L70.9744 24.046ZM67.1524 22.744L65.8714 25.4567L65.9162 25.4779L65.9617 25.4976L67.1524 22.744ZM64.8424 20.98L62.3758 22.6876L62.4137 22.7423L62.4539 22.7953L64.8424 20.98ZM65.1364 14.638L62.7533 12.8156L62.7362 12.8381L62.7195 12.8608L65.1364 14.638ZM68.0764 12.496L69.1576 15.2944L69.1741 15.288L69.1906 15.2814L68.0764 12.496ZM76.7284 12.538L77.8737 9.76521L77.8737 9.76521L76.7284 12.538ZM79.8784 14.764L82.316 16.5127L83.6852 14.6042L82.1609 12.8172L79.8784 14.764ZM78.4924 16.696L76.1995 18.6306L78.6842 21.5753L80.93 18.4447L78.4924 16.696ZM75.6784 14.722L74.5398 17.4975L74.5821 17.5149L74.6251 17.531L75.6784 14.722ZM69.5464 14.428L70.3442 17.32L70.3901 17.3073L70.4356 17.2932L69.5464 14.428ZM67.5304 15.604L65.3554 13.5377L65.3526 13.5408L67.5304 15.604ZM72.0244 21.694L71.2003 24.5786L71.2197 24.5841L71.2392 24.5894L72.0244 21.694ZM76.3504 23.038L75.3252 25.8574L75.3252 25.8574L76.3504 23.038ZM79.2064 24.844L76.9642 26.8371L76.9829 26.8581L77.002 26.8788L79.2064 24.844ZM77.9044 32.698L79.6974 35.1032L79.6974 35.1032L77.9044 32.698ZM71.8144 31.42C70.3562 31.42 69.0562 31.1819 67.8865 30.7353L65.7463 36.3407C67.6566 37.0701 69.6886 37.42 71.8144 37.42V31.42ZM67.9483 30.7597C66.8205 30.3002 65.8353 29.6376 64.9731 28.7544L60.6797 32.9456C62.1136 34.4144 63.7884 35.5438 65.6845 36.3163L67.9483 30.7597ZM65.4178 32.3616L66.5938 30.3456L61.4111 27.3224L60.2351 29.3384L65.4178 32.3616ZM61.9572 31.0288C63.3791 32.3537 64.8932 33.4104 66.5091 34.1082L68.8877 28.5998C68.0396 28.2336 67.0897 27.6103 66.0476 26.6392L61.9572 31.0288ZM66.5843 34.1394C68.2099 34.7897 69.9191 35.11 71.6884 35.11V29.11C70.6578 29.11 69.707 28.9263 68.8126 28.5686L66.5843 34.1394ZM71.6884 35.11C73.7504 35.11 75.7274 34.6989 77.4064 33.6385L74.2024 28.5655C73.7534 28.8491 72.9864 29.11 71.6884 29.11V35.11ZM77.4234 33.6276C79.3686 32.3807 80.4424 30.4389 80.4424 28.12H74.4424C74.4424 28.2296 74.4309 28.2973 74.4224 28.3328C74.4143 28.3666 74.4066 28.3814 74.4035 28.3872C74.4003 28.393 74.391 28.409 74.3644 28.4365C74.3365 28.4653 74.2822 28.5143 74.1854 28.5764L77.4234 33.6276ZM80.4424 28.12C80.4424 26.6057 79.9492 25.0069 78.5768 23.8513L74.712 28.4407C74.6605 28.3973 74.6079 28.3421 74.5607 28.2767C74.5137 28.2116 74.4818 28.1498 74.4616 28.0999C74.4219 28.0016 74.4424 27.9879 74.4424 28.12H80.4424ZM78.7043 23.965C77.7251 23.0402 76.4838 22.4821 75.2426 22.1274L73.5943 27.8966C74.313 28.1019 74.5558 28.2998 74.5846 28.327L78.7043 23.965ZM75.2649 22.1339C74.2859 21.8459 73.1159 21.5179 71.7587 21.1503L70.1902 26.9417C71.5209 27.3021 72.647 27.6181 73.5719 27.8901L75.2649 22.1339ZM71.7774 21.1554C70.3507 20.7592 69.2153 20.3676 68.3432 19.9904L65.9617 25.4976C67.1616 26.0164 68.5741 26.4928 70.1715 26.9366L71.7774 21.1554ZM68.4334 20.0313C67.7475 19.7073 67.4035 19.3919 67.2309 19.1647L62.4539 22.7953C63.3453 23.9681 64.5414 24.8287 65.8714 25.4567L68.4334 20.0313ZM67.309 19.2724C67.2423 19.176 67.0864 18.8836 67.0864 18.166H61.0864C61.0864 19.7444 61.4346 21.328 62.3758 22.6876L67.309 19.2724ZM67.0864 18.166C67.0864 17.2837 67.2984 16.762 67.5534 16.4152L62.7195 12.8608C61.5745 14.418 61.0864 16.2483 61.0864 18.166H67.0864ZM67.5195 16.4603C67.878 15.9915 68.3869 15.5922 69.1576 15.2944L66.9952 9.6976C65.3019 10.3518 63.8508 11.3805 62.7533 12.8156L67.5195 16.4603ZM69.1906 15.2814C70.0517 14.937 71.067 14.74 72.2764 14.74V8.74C70.4059 8.74 68.6211 9.04701 66.9622 9.71057L69.1906 15.2814ZM72.2764 14.74C73.6424 14.74 74.7248 14.9562 75.5831 15.3108L77.8737 9.76521C76.1561 9.05576 74.2705 8.74 72.2764 8.74V14.74ZM75.5831 15.3108C76.4826 15.6823 77.1259 16.1598 77.5959 16.7108L82.1609 12.8172C81.0069 11.4642 79.5502 10.4577 77.8737 9.76521L75.5831 15.3108ZM77.4408 13.0153L76.0548 14.9473L80.93 18.4447L82.316 16.5127L77.4408 13.0153ZM80.7853 14.7614C79.6909 13.4643 78.3228 12.5096 76.7318 11.913L74.6251 17.531C75.274 17.7744 75.782 18.1357 76.1995 18.6306L80.7853 14.7614ZM76.8171 11.9465C75.332 11.3372 73.7511 11.05 72.1084 11.05V17.05C73.0417 17.05 73.8408 17.2108 74.5398 17.4975L76.8171 11.9465ZM72.1084 11.05C70.9272 11.05 69.7723 11.2167 68.6572 11.5628L70.4356 17.2932C70.9445 17.1353 71.4976 17.05 72.1084 17.05V11.05ZM68.7486 11.536C67.4602 11.8914 66.2966 12.5471 65.3554 13.5378L69.7054 17.6702C69.8283 17.5409 70.0086 17.4126 70.3442 17.32L68.7486 11.536ZM65.3526 13.5408C64.1773 14.7813 63.7744 16.3478 63.7744 17.83H69.7744C69.7744 17.614 69.8035 17.526 69.8041 17.5242C69.8041 17.5241 69.8025 17.5289 69.7985 17.5377C69.7944 17.5466 69.7883 17.5588 69.7796 17.5733C69.7615 17.6038 69.7373 17.6366 69.7083 17.6672L65.3526 13.5408ZM63.7744 17.83C63.7744 19.8527 64.6116 21.8537 66.7005 22.9319L69.4524 17.6001C69.4755 17.6121 69.5294 17.6443 69.5931 17.7059C69.6579 17.7687 69.7098 17.8396 69.7457 17.9069C69.8169 18.0401 69.7744 18.058 69.7744 17.83H63.7744ZM66.7005 22.9319C67.8365 23.5182 69.3806 24.0587 71.2003 24.5786L72.8486 18.8094C71.1402 18.3213 70.0523 17.9098 69.4524 17.6001L66.7005 22.9319ZM71.2392 24.5894C72.8331 25.0217 74.1917 25.4452 75.3252 25.8574L77.3757 20.2186C76.0452 19.7348 74.5197 19.2623 72.8096 18.7986L71.2392 24.5894ZM75.3252 25.8574C76.2237 26.1841 76.7066 26.5473 76.9642 26.8371L81.4487 22.8509C80.3623 21.6287 78.9411 20.7879 77.3757 20.2186L75.3252 25.8574ZM77.002 26.8788C77.0134 26.8912 77.2144 27.0951 77.2144 27.91H83.2144C83.2144 26.0929 82.7434 24.2528 81.4108 22.8092L77.002 26.8788ZM77.2144 27.91C77.2144 29.0775 76.8368 29.752 76.1114 30.2928L79.6974 35.1032C82.052 33.348 83.2144 30.8305 83.2144 27.91H77.2144ZM76.1114 30.2928C75.2303 30.9496 73.8894 31.42 71.8144 31.42V37.42C74.7794 37.42 77.4985 36.7424 79.6974 35.1032L76.1114 30.2928ZM84.3472 24.214L86.6898 26.0881L86.7026 26.072L86.7152 26.0558L84.3472 24.214ZM87.5812 21.862L86.467 19.0766L86.4572 19.0805L86.4475 19.0845L87.5812 21.862ZM95.7292 21.316L95.2243 24.2732L95.2594 24.2792L95.2948 24.2844L95.7292 21.316ZM98.7952 22.03L97.8199 24.8671L101.795 26.2335V22.03H98.7952ZM89.1772 14.806L90.2079 17.6234L90.238 17.6124L90.2678 17.6007L89.1772 14.806ZM85.6072 16.696L82.9693 18.1248L84.5518 21.0465L87.2972 19.1747L85.6072 16.696ZM84.5152 14.68L82.8176 12.2065L80.5911 13.7344L81.8773 16.1088L84.5152 14.68ZM88.7152 12.496L89.6985 15.3303L89.7241 15.3214L89.7496 15.312L88.7152 12.496ZM102.701 31.732H105.701V28.8496L102.821 28.7344L102.701 31.732ZM102.701 34L103.106 36.9725L105.701 36.6187V34H102.701ZM101.399 34.084L101.73 31.1023L101.625 31.0906L101.519 31.0864L101.399 34.084ZM99.8032 33.412L97.5361 35.3768L99.8032 33.412ZM99.2152 32.068L96.2162 32.1469L96.2175 32.1956L96.2203 32.2442L99.2152 32.068ZM99.1732 30.472L102.172 30.3931L101.952 22.0133L96.8051 28.6302L99.1732 30.472ZM95.3512 33.412L96.5329 36.1694L96.5536 36.1606L96.5741 36.1514L95.3512 33.412ZM86.7412 33.538L85.2954 36.1666L85.3209 36.1807L85.3467 36.1942L86.7412 33.538ZM84.0952 31.102L81.5165 32.6352L81.5412 32.6766L81.5671 32.7172L84.0952 31.102ZM97.8292 29.38L95.5454 27.4346L95.4953 27.4934L95.4483 27.5547L97.8292 29.38ZM98.7952 24.088H101.795V22.0404L99.8884 21.2943L98.7952 24.088ZM87.2872 30.766L85.1044 32.824L85.1197 32.8403L85.1353 32.8564L87.2872 30.766ZM95.0572 31.438L93.8447 28.6939L93.8326 28.6993L93.8207 28.7047L95.0572 31.438ZM86.1712 27.7C86.1712 26.9854 86.3626 26.4971 86.6898 26.0881L82.0046 22.3399C80.7637 23.8909 80.1712 25.7266 80.1712 27.7H86.1712ZM86.7152 26.0558C87.1282 25.5248 87.7502 25.0333 88.7148 24.6395L86.4475 19.0845C84.6681 19.8107 83.1341 20.8872 81.9791 22.3722L86.7152 26.0558ZM88.6953 24.6474C89.6759 24.2552 90.8958 24.022 92.4112 24.022V18.022C90.2865 18.022 88.2865 18.3488 86.467 19.0766L88.6953 24.6474ZM92.4112 24.022C93.2909 24.022 94.2276 24.103 95.2243 24.2732L96.234 18.3588C94.9347 18.137 93.6594 18.022 92.4112 18.022V24.022ZM95.2948 24.2844C96.2981 24.4312 97.1337 24.6312 97.8199 24.8671L99.7704 19.1929C98.6646 18.8128 97.4562 18.5368 96.1636 18.3476L95.2948 24.2844ZM101.795 22.03V20.182H95.7952V22.03H101.795ZM101.795 20.182C101.795 17.706 101.041 15.4137 99.2785 13.6507L95.0358 17.8933C95.4569 18.3143 95.7952 18.962 95.7952 20.182H101.795ZM99.2785 13.6507C97.4905 11.8627 95.1379 11.134 92.6212 11.134V17.134C93.9684 17.134 94.6398 17.4973 95.0358 17.8933L99.2785 13.6507ZM92.6212 11.134C91.0734 11.134 89.5564 11.4377 88.0865 12.0113L90.2678 17.6007C91.0939 17.2783 91.873 17.134 92.6212 17.134V11.134ZM88.1464 11.9886C86.7212 12.5101 85.311 13.267 83.9171 14.2173L87.2972 19.1747C88.3673 18.445 89.3372 17.9419 90.2079 17.6234L88.1464 11.9886ZM88.245 15.2671L87.153 13.2511L81.8773 16.1088L82.9693 18.1248L88.245 15.2671ZM86.2127 17.1535C87.4608 16.297 88.6227 15.7035 89.6985 15.3303L87.7318 9.66173C86.0636 10.2405 84.4255 11.103 82.8176 12.2065L86.2127 17.1535ZM89.7496 15.312C90.7982 14.9268 91.8485 14.74 92.9152 14.74V8.74C91.1258 8.74 89.3761 9.0572 87.6807 9.67999L89.7496 15.312ZM92.9152 14.74C95.0029 14.74 96.3101 15.3192 97.197 16.1903L101.401 11.9097C99.1522 9.70077 96.2034 8.74 92.9152 8.74V14.74ZM97.197 16.1903C98.0611 17.039 98.6512 18.3212 98.6512 20.434H104.651C104.651 17.1148 103.673 14.141 101.401 11.9097L97.197 16.1903ZM98.6512 20.434V30.556H104.651V20.434H98.6512ZM98.6512 30.556C98.6512 31.3517 98.8323 32.4703 99.6758 33.415C100.555 34.3992 101.7 34.6944 102.581 34.7296L102.821 28.7344C103.002 28.7416 103.623 28.8268 104.151 29.419C104.645 29.9717 104.651 30.5163 104.651 30.556H98.6512ZM99.7012 31.732V34H105.701V31.732H99.7012ZM102.296 31.0275C102.031 31.0636 101.844 31.0823 101.721 31.0902C101.66 31.0941 101.629 31.0945 101.622 31.0945C101.611 31.0945 101.653 31.0937 101.73 31.1023L101.068 37.0657C101.729 37.1391 102.497 37.0555 103.106 36.9725L102.296 31.0275ZM101.519 31.0864C101.454 31.0838 101.512 31.0763 101.639 31.1301C101.781 31.1896 101.939 31.2959 102.07 31.4472L97.5361 35.3768C98.5765 36.5773 99.981 37.0297 101.279 37.0816L101.519 31.0864ZM102.07 31.4472C102.06 31.435 102.093 31.4708 102.132 31.5585C102.172 31.651 102.203 31.7668 102.21 31.8918L96.2203 32.2442C96.2934 33.4857 96.8137 34.5432 97.5361 35.3768L102.07 31.4472ZM102.214 31.9891L102.172 30.3931L96.1742 30.5509L96.2162 32.1469L102.214 31.9891ZM96.8051 28.6302C96.15 29.4724 95.2816 30.1577 94.1282 30.6726L96.5741 36.1514C98.5567 35.2663 100.236 33.9916 101.541 32.3138L96.8051 28.6302ZM94.1694 30.6546C92.9556 31.1747 91.7605 31.42 90.5632 31.42V37.42C92.6138 37.42 94.6107 36.9933 96.5329 36.1694L94.1694 30.6546ZM90.5632 31.42C89.5576 31.42 88.7727 31.2163 88.1357 30.8818L85.3467 36.1942C86.9496 37.0357 88.7127 37.42 90.5632 37.42V31.42ZM88.1869 30.9094C87.4757 30.5182 86.9785 30.0428 86.6232 29.4868L81.5671 32.7172C82.4998 34.1772 83.7666 35.3258 85.2954 36.1666L88.1869 30.9094ZM86.6738 29.5688C86.3399 29.0073 86.1712 28.4049 86.1712 27.7H80.1712C80.1712 29.4591 80.6184 31.1247 81.5165 32.6352L86.6738 29.5688ZM100.113 31.3254C100.98 30.3077 101.795 28.9351 101.795 27.28H95.7952C95.7952 27.0926 95.8433 27.0014 95.8282 27.0343C95.8096 27.0747 95.7377 27.2089 95.5454 27.4346L100.113 31.3254ZM101.795 27.28V24.088H95.7952V27.28H101.795ZM99.8884 21.2943C97.6037 20.4003 95.2166 19.954 92.7472 19.954V25.954C94.4778 25.954 96.1226 26.2637 97.702 26.8817L99.8884 21.2943ZM92.7472 19.954C90.3298 19.954 88.0569 20.4317 86.1661 21.6503L89.4163 26.6937C90.0454 26.2883 91.0765 25.954 92.7472 25.954V19.954ZM86.1661 21.6503C84.1215 22.9679 82.9012 24.9871 82.9012 27.49H88.9012C88.9012 27.2573 88.9483 27.1517 88.9804 27.0954C89.0173 27.0305 89.1202 26.8845 89.4163 26.6937L86.1661 21.6503ZM82.9012 27.49C82.9012 29.5522 83.723 31.3589 85.1044 32.824L89.4699 28.708C89.0033 28.2131 88.9012 27.8358 88.9012 27.49H82.9012ZM85.1353 32.8564C86.7771 34.5464 88.943 35.236 91.2352 35.236V29.236C90.1673 29.236 89.7013 28.9456 89.439 28.6756L85.1353 32.8564ZM91.2352 35.236C93.0062 35.236 94.705 34.89 96.2937 34.1713L93.8207 28.7047C93.0573 29.05 92.2081 29.236 91.2352 29.236V35.236ZM96.2696 34.1821C97.8235 33.4955 99.1938 32.5307 100.21 31.2053L95.4483 27.5547C95.1765 27.9093 94.6988 28.3165 93.8447 28.6939L96.2696 34.1821ZM107.948 3.34V0.339999H104.948V3.34H107.948ZM110.804 3.34H113.804V0.339999H110.804V3.34ZM111.35 31.186L109.315 33.3904L109.356 33.4278L109.398 33.4638L111.35 31.186ZM114.332 31.522L113.714 28.5864L113.697 28.5898L113.681 28.5934L114.332 31.522ZM115.634 31.186L118.565 30.5465L117.853 27.284L114.685 28.34L115.634 31.186ZM116.138 33.496L117.302 36.2609L119.601 35.2931L119.069 32.8565L116.138 33.496ZM114.164 34.042L113.637 31.0887L113.627 31.0904L113.618 31.0922L114.164 34.042ZM109.082 33.118L106.961 35.2393L106.98 35.2586L106.999 35.2775L109.082 33.118ZM107.948 6.34H110.804V0.339999H107.948V6.34ZM107.804 3.34V29.044H113.804V3.34H107.804ZM107.804 29.044C107.804 29.7322 107.859 30.4544 108.033 31.1395C108.202 31.8012 108.547 32.6813 109.315 33.3904L113.385 28.9816C113.593 29.1735 113.711 29.3609 113.773 29.4791C113.833 29.5946 113.849 29.6648 113.847 29.6575C113.846 29.6522 113.834 29.6012 113.823 29.4913C113.812 29.3831 113.804 29.236 113.804 29.044H107.804ZM109.398 33.4638C110.408 34.3303 111.621 34.69 112.82 34.69V28.69C112.813 28.69 112.877 28.6894 112.984 28.7262C113.097 28.7648 113.209 28.8284 113.302 28.9082L109.398 33.4638ZM112.82 34.69C113.548 34.69 114.27 34.6089 114.983 34.4506L113.681 28.5934C113.386 28.6591 113.1 28.69 112.82 28.69V34.69ZM114.95 34.4576C115.541 34.3331 116.097 34.1939 116.583 34.032L114.685 28.34C114.499 28.4021 114.186 28.4869 113.714 28.5864L114.95 34.4576ZM112.703 31.8255L113.207 34.1355L119.069 32.8565L118.565 30.5465L112.703 31.8255ZM114.974 30.7311C114.707 30.8434 114.278 30.9742 113.637 31.0887L114.691 36.9953C115.618 36.8298 116.505 36.5966 117.302 36.2609L114.974 30.7311ZM113.618 31.0922C112.98 31.2102 112.513 31.252 112.19 31.252V37.252C112.987 37.252 113.835 37.1538 114.71 36.9918L113.618 31.0922ZM112.19 31.252C111.527 31.252 111.289 31.0785 111.164 30.9585L106.999 35.2775C108.443 36.6695 110.277 37.252 112.19 37.252V31.252ZM111.203 30.9967C111.134 30.9276 110.948 30.7254 110.948 30.01H104.948C104.948 31.9266 105.518 33.7964 106.961 35.2393L111.203 30.9967ZM110.948 30.01V3.34H104.948V30.01H110.948ZM119.391 3.34V0.339999H116.391V3.34H119.391ZM122.247 3.34H125.247V0.339999H122.247V3.34ZM122.793 31.186L120.758 33.3904L120.799 33.4278L120.841 33.4638L122.793 31.186ZM125.775 31.522L125.157 28.5864L125.141 28.5898L125.124 28.5934L125.775 31.522ZM127.077 31.186L130.008 30.5465L129.296 27.284L126.129 28.34L127.077 31.186ZM127.581 33.496L128.745 36.2609L131.044 35.2931L130.512 32.8565L127.581 33.496ZM125.607 34.042L125.08 31.0887L125.07 31.0904L125.061 31.0922L125.607 34.042ZM120.525 33.118L118.404 35.2393L118.423 35.2586L118.443 35.2775L120.525 33.118ZM119.391 6.34H122.247V0.339999H119.391V6.34ZM119.247 3.34V29.044H125.247V3.34H119.247ZM119.247 29.044C119.247 29.7322 119.302 30.4544 119.477 31.1395C119.645 31.8012 119.99 32.6813 120.758 33.3904L124.828 28.9816C125.036 29.1735 125.155 29.3609 125.216 29.4791C125.276 29.5946 125.293 29.6648 125.291 29.6575C125.289 29.6522 125.277 29.6012 125.266 29.4913C125.255 29.3831 125.247 29.236 125.247 29.044H119.247ZM120.841 33.4638C121.852 34.3303 123.065 34.69 124.263 34.69V28.69C124.256 28.69 124.32 28.6894 124.428 28.7262C124.54 28.7648 124.653 28.8284 124.746 28.9082L120.841 33.4638ZM124.263 34.69C124.991 34.69 125.714 34.6089 126.426 34.4506L125.124 28.5934C124.829 28.6591 124.543 28.69 124.263 28.69V34.69ZM126.393 34.4576C126.985 34.3331 127.54 34.1939 128.026 34.032L126.129 28.34C125.942 28.4021 125.63 28.4869 125.157 28.5864L126.393 34.4576ZM124.146 31.8255L124.65 34.1355L130.512 32.8565L130.008 30.5465L124.146 31.8255ZM126.417 30.7311C126.15 30.8434 125.721 30.9742 125.08 31.0887L126.135 36.9953C127.061 36.8298 127.948 36.5966 128.745 36.2609L126.417 30.7311ZM125.061 31.0922C124.424 31.2102 123.957 31.252 123.633 31.252V37.252C124.43 37.252 125.279 37.1538 126.154 36.9918L125.061 31.0922ZM123.633 31.252C122.97 31.252 122.732 31.0785 122.608 30.9585L118.443 35.2775C119.886 36.6695 121.72 37.252 123.633 37.252V31.252ZM122.647 30.9967C122.578 30.9276 122.391 30.7254 122.391 30.01H116.391C116.391 31.9266 116.961 33.7964 118.404 35.2393L122.647 30.9967ZM122.391 30.01V3.34H116.391V30.01H122.391ZM134.531 32.866L132.937 35.4076L134.531 32.866ZM130.625 28.708L127.994 30.1505L130.625 28.708ZM130.583 17.368L127.962 15.9074L127.953 15.9239L127.944 15.9405L130.583 17.368ZM134.489 13.294L136.051 15.8549L136.067 15.8453L136.082 15.8356L134.489 13.294ZM149.567 17.41L146.91 18.8036L146.924 18.8298L146.938 18.8558L149.567 17.41ZM150.911 24.088V27.088H153.65L153.898 24.3596L150.911 24.088ZM132.179 24.088V21.088H128.899L129.19 24.3548L132.179 24.088ZM133.523 28.288L130.966 29.857L130.974 29.8702L130.982 29.8833L133.523 28.288ZM136.421 31.186L134.842 33.7368L134.864 33.7505L134.886 33.7639L136.421 31.186ZM147.005 28.288L147.79 25.3926L145.324 24.7239L144.271 27.0515L147.005 28.288ZM149.483 28.96L152.248 30.1242L153.579 26.9625L150.268 26.0646L149.483 28.96ZM147.383 31.816L149.363 34.0695L149.367 34.0655L147.383 31.816ZM144.149 33.748L145.174 36.5674L145.202 36.5572L145.23 36.5464L144.149 33.748ZM132.095 22.03L129.102 21.8163L128.873 25.03H132.095V22.03ZM148.265 22.03V25.03H151.487L151.257 21.8163L148.265 22.03ZM146.963 17.872L144.406 19.441L144.414 19.4542L144.422 19.4673L146.963 17.872ZM144.065 15.016L142.53 17.5939L142.553 17.6075L142.576 17.6207L144.065 15.016ZM136.253 15.016L137.741 17.6207L137.764 17.6075L137.787 17.5939L136.253 15.016ZM133.355 17.872L130.798 16.303L130.792 16.3113L130.787 16.3197L133.355 17.872ZM140.159 31.42C138.577 31.42 137.262 31.0378 136.124 30.3244L132.937 35.4076C135.103 36.7662 137.54 37.42 140.159 37.42V31.42ZM136.124 30.3244C134.913 29.5647 133.965 28.5599 133.255 27.2655L127.994 30.1505C129.188 32.3281 130.844 34.0953 132.937 35.4076L136.124 30.3244ZM133.255 27.2655C132.557 25.9925 132.197 24.5881 132.197 22.996H126.197C126.197 25.5479 126.788 27.9515 127.994 30.1505L133.255 27.2655ZM132.197 22.996C132.197 21.4234 132.547 20.0418 133.221 18.7955L127.944 15.9405C126.77 18.1102 126.197 20.4806 126.197 22.996H132.197ZM133.203 18.8286C133.906 17.5675 134.846 16.5905 136.051 15.8549L132.926 10.7331C130.828 12.0135 129.163 13.7525 127.962 15.9074L133.203 18.8286ZM136.082 15.8356C137.22 15.1222 138.535 14.74 140.117 14.74V8.74C137.498 8.74 135.061 9.39376 132.895 10.7524L136.082 15.8356ZM140.117 14.74C141.771 14.74 143.087 15.1304 144.173 15.8232L147.4 10.7648C145.238 9.38559 142.774 8.74 140.117 8.74V14.74ZM144.173 15.8232C145.356 16.5777 146.256 17.558 146.91 18.8036L152.223 16.0164C151.085 13.846 149.465 12.0823 147.4 10.7648L144.173 15.8232ZM146.938 18.8558C147.606 20.0698 147.953 21.4166 147.953 22.954H153.953C153.953 20.4594 153.376 18.1102 152.195 15.9642L146.938 18.8558ZM147.953 22.954C147.953 23.3476 147.94 23.6288 147.923 23.8164L153.898 24.3596C153.937 23.9312 153.953 23.4564 153.953 22.954H147.953ZM150.911 21.088H132.179V27.088H150.911V21.088ZM129.19 24.3548C129.368 26.3425 129.946 28.1958 130.966 29.857L136.08 26.719C135.587 25.9162 135.269 24.9695 135.167 23.8212L129.19 24.3548ZM130.982 29.8833C131.974 31.4638 133.265 32.761 134.842 33.7368L138 28.6352C137.224 28.155 136.583 27.5202 136.063 26.6927L130.982 29.8833ZM134.886 33.7639C136.537 34.7468 138.357 35.236 140.285 35.236V29.236C139.412 29.236 138.656 29.0252 137.955 28.6081L134.886 33.7639ZM140.285 35.236C142.25 35.236 144.11 34.7279 145.817 33.7416L142.816 28.5464C142.003 29.0161 141.175 29.236 140.285 29.236V35.236ZM145.817 33.7416C147.548 32.7415 148.915 31.3433 149.738 29.5245L144.271 27.0515C144.03 27.5847 143.605 28.0905 142.816 28.5464L145.817 33.7416ZM146.219 31.1834L148.697 31.8554L150.268 26.0646L147.79 25.3926L146.219 31.1834ZM146.718 27.7958C146.462 28.4039 146.046 28.9948 145.398 29.5665L149.367 34.0655C150.624 32.9572 151.608 31.6441 152.248 30.1242L146.718 27.7958ZM145.402 29.5625C144.763 30.1247 143.994 30.5915 143.067 30.9496L145.23 36.5464C146.767 35.9525 148.155 35.1313 149.363 34.0695L145.402 29.5625ZM143.123 30.9286C142.248 31.2469 141.268 31.42 140.159 31.42V37.42C141.905 37.42 143.585 37.1451 145.174 36.5674L143.123 30.9286ZM132.095 25.03H148.265V19.03H132.095V25.03ZM151.257 21.8163C151.114 19.8105 150.548 17.9399 149.503 16.2767L144.422 19.4673C144.89 20.2121 145.191 21.1135 145.272 22.2437L151.257 21.8163ZM149.52 16.303C148.518 14.6712 147.196 13.35 145.553 12.4113L142.576 17.6207C143.285 18.026 143.895 18.6088 144.406 19.441L149.52 16.303ZM145.599 12.4381C143.938 11.4496 142.102 10.966 140.159 10.966V16.966C141.071 16.966 141.839 17.1824 142.53 17.5939L145.599 12.4381ZM140.159 10.966C138.215 10.966 136.379 11.4496 134.718 12.4381L137.787 17.5939C138.478 17.1824 139.246 16.966 140.159 16.966V10.966ZM134.764 12.4113C133.121 13.35 131.799 14.6712 130.798 16.303L135.912 19.441C136.422 18.6088 137.032 18.026 137.741 17.6207L134.764 12.4113ZM130.787 16.3197C129.786 17.9756 129.244 19.831 129.102 21.8163L135.087 22.2437C135.169 21.093 135.467 20.1764 135.922 19.4243L130.787 16.3197Z"
                                      fill="#2459D8"/>
                            </svg>

                        </a>
                    </div>
                    <div class="hidden sm:block sm:ml-6">
                        <div class="flex space-x-4">

                            {% if 'administrator' not in app.request.uri and 'redactor' not in app.request.uri %}

                                {% for category in categories %}

                                    {% if category.articles is not empty %}

                                        <div class="relative group">
                                            <a
                                                    class="transition duration-300 ease-in-out text-blue-700 hover:bg-blue-700 hover:text-white px-3 py-2 rounded-md text-sm font-medium">
                                                {{ category.title }}
                                            </a>
                                            <div class="select-none absolute z-10 hidden bg-grey-200 group-hover:block">

                                                <div class="transition duration-300 ease-in-out select-none absolute mt-1 w-64 rounded-md shadow-lg py-1 bg-gray-100 ring-1 ring-black ring-opacity-5 group-hover:block">
                                                    {% for article in category.articles %}
                                                        <a href="{{ path('article_show', { id: article.id }) }}"
                                                           class="transition duration-300 ease-in-out select-none text-blue-700 hover:text-white hover:bg-blue-700 block px-3 py-2 rounded-md text-base">
                                                            {{ article.title }}
                                                        </a>
                                                    {% endfor %}
                                                </div>
                                            </div>
                                        </div>

                                    {% endif %}

                                {% endfor %}

                            {% else %}

                                {% if is_granted('ROLE_ADMIN') %}

                                    <a href="{{ path('user_listing') }}"
                                       class="transition duration-300 ease-in-out select-none text-blue-700 hover:text-white hover:bg-blue-700 select-none text-white hover:bg-blue-700 px-3 py-2 rounded-md text-sm font-medium">
                                        Utilisateurs
                                    </a>
                                    <a href="{{ path('product_listing') }}"
                                       class="transition duration-300 ease-in-out select-none text-blue-700 hover:text-white hover:bg-blue-700 select-none text-white hover:bg-blue-700 px-3 py-2 rounded-md text-sm font-medium">
                                        Produits
                                    </a>

                                    <a href="{{ path('ticket_listing') }}"
                                       class="transition duration-300 ease-in-out select-none text-blue-700 hover:text-white hover:bg-blue-700 select-none text-white hover:bg-blue-700 px-3 py-2 rounded-md text-sm font-medium">
                                        Tickets
                                    </a>

                                    <a href="{{ path('newsletter_send') }}"
                                       class="transition duration-300 ease-in-out select-none text-blue-700 hover:text-white hover:bg-blue-700 select-none text-white hover:bg-blue-700 px-3 py-2 rounded-md text-sm font-medium">
                                        Newsletter
                                    </a>

                                {% endif %}

                                <a href="{{ path('category_listing') }}"
                                   class="transition duration-300 ease-in-out select-none text-blue-700 hover:text-white hover:bg-blue-700 select-none text-white hover:bg-blue-700 px-3 py-2 rounded-md text-sm font-medium">
                                    Catégories
                                </a>

                                <a href="{{ path('article_listing') }}"
                                   class="transition duration-300 ease-in-out select-none text-blue-700 hover:text-white hover:bg-blue-700 select-none text-white hover:bg-blue-700 px-3 py-2 rounded-md text-sm font-medium">
                                    Articles
                                </a>

                            {% endif %}

                        </div>
                    </div>
                </div>
                <div class="absolute inset-y-0 right-0 flex items-center pr-2 sm:static sm:inset-auto sm:ml-6 sm:pr-0">

                    {% if app.user %}
                        <div>
                            <p id="alertButton"
                               class="bg-white p-1 rounded-full cursor-pointer text-blue-700 focus:ring-opacity-0 hover:outline-none hover:ring-2 hover:ring-offset-2 hover:ring-offset-blue-800 hover:ring-white">
                                <span class="sr-only">View notifications</span>
                                <!-- Heroicon name: bell -->
                                <svg class="h-6 w-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                                     stroke="currentColor" aria-hidden="true">
                                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                          d="M15 17h5l-1.405-1.405A2.032 2.032 0 0118 14.158V11a6.002 6.002 0 00-4-5.659V5a2 2 0 10-4 0v.341C7.67 6.165 6 8.388 6 11v3.159c0 .538-.214 1.055-.595 1.436L4 17h5m6 0v1a3 3 0 11-6 0v-1m6 0H9"/>
                                </svg>
                                <strong class="absolute top-0 select-none">{{ notificationCount }}</strong>
                            </p>

                            <div id="alertDropDown"
                                 class="origin-top-right absolute right-0 mt-2 w-48 rounded-md shadow-lg bg-white ring-1 ring-black ring-opacity-5 hidden"
                                 aria-orientation="vertical">

                                {% if notificationCount == 0 %}

                                    <div class="bg-white text-center" style="width: 150px">
                                        <strong class="pl-2 text-gray-800">Aucune notifications</strong>
                                    </div>

                                {% else %}


                                    {% for message in notifications %}

                                        <div class="bg-white" style="width: 150px">
                                            <strong class="pl-2">Information</strong>
                                            <div class="pl-2">
                                                {{ message }}
                                            </div>
                                        </div>
                                        <hr>

                                    {% endfor %}

                                {% endif %}

                            </div>
                        </div>

                    {% endif %}

                    <!-- Profile dropdown -->
                    <div class="ml-3 relative">
                        <div class="flex space-x-4">

                            {% if app.user %}
                                <div class="relative group">

                                    <p id="userButton"
                                       class="cursor-pointer bg-blue-800 flex text-sm rounded-full hover:outline-none hover:ring-2 hover:ring-offset-2 hover:ring-offset-blue-800 group-hover:block hover:ring-white"
                                       id="user-menu">
                                        <span class="sr-only">Open user menu</span>
                                        <img class="h-8 w-8 rounded-full"
                                             src="https://images.unsplash.com/photo-1472099645785-5658abf4ff4e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=facearea&facepad=2&w=256&h=256&q=80"
                                             alt="">
                                    </p>

                                    <div id="userDropdown"
                                         class="origin-top-right absolute right-0 mt-0 w-48 rounded-md shadow-lg py-1 bg-white ring-1 ring-black ring-opacity-5 hidden group-hover:block"
                                         role="menu" aria-orientation="vertical" aria-labelledby="user-menu">

                                        {% if app.user %}

                                            <a href="{{ path('user_profile_update', { id: app.user.id }) }}"
                                               class="transition duration-300 ease-in-out select-none text-blue-700 hover:text-white hover:bg-blue-700 block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100"
                                               role="menuitem">Mon
                                                profil</a>

                                            {% if is_granted('ROLE_ADMIN') or is_granted('ROLE_REDACTOR') %}

                                                <a href="{{ path('category_listing') }}"
                                                   class="transition duration-300 ease-in-out select-none text-blue-700 hover:text-white hover:bg-blue-700 block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100"
                                                   role="menuitem">Panel
                                                    de gestion</a>

                                            {% endif %}

                                        {% endif %}

                                        <a href="{{ path('logout') }}"
                                           class="transition duration-300 ease-in-out select-none text-blue-700 hover:text-white hover:bg-blue-700 block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100"
                                           role="menuitem">Déconnexion</a>
                                    </div>

                                </div>

                            {% else %}

                                <div>
                                    <p id="alertButton"
                                       class="cursor-pointer bg-white p-1 rounded-full text-blue-700 hover:outline-none hover:ring-2 hover:ring-offset-2 hover:ring-offset-blue-800 hover:ring-white">
                                        <span class="sr-only">View notifications</span>
                                        <!-- Heroicon name: bell -->
                                        <svg class="h-6 w-6" xmlns="http://www.w3.org/2000/svg" fill="none"
                                             viewBox="0 0 24 24"
                                             stroke="currentColor" aria-hidden="true">
                                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                                  d="M15 17h5l-1.405-1.405A2.032 2.032 0 0118 14.158V11a6.002 6.002 0 00-4-5.659V5a2 2 0 10-4 0v.341C7.67 6.165 6 8.388 6 11v3.159c0 .538-.214 1.055-.595 1.436L4 17h5m6 0v1a3 3 0 11-6 0v-1m6 0H9"/>
                                        </svg>
                                        <strong class="absolute -top-3">{{ notificationCount }}</strong>
                                    </p>

                                    <div id="alertDropDown"
                                         class="origin-top-right absolute right-0 mt-2 w-48 rounded-md shadow-lg bg-white ring-1 ring-black ring-opacity-5 hidden"
                                         aria-orientation="vertical">

                                        {% if notificationCount == 0 %}

                                            <div class="bg-white" style="width: 150px">
                                                <p class="pl-2 text-base">Aucune notifications</p>
                                            </div>

                                        {% else %}


                                            {% for message in notifications %}

                                                <div class="bg-white" style="width: 150px;">
                                                    <strong class="pl-2">Information</strong>
                                                    <div class="pl-2">
                                                        {{ message }}
                                                    </div>
                                                </div>
                                                <hr>

                                            {% endfor %}

                                        {% endif %}

                                    </div>
                                </div>

                                <a href="{{ path('ticket_send') }}"
                                   class="hidden 2xl:block transition duration-300 ease-in-out select-none text-blue-700 hover:text-white hover:bg-blue-700 select-none text-white hover:bg-blue-700 hover:text-white px-3 py-2 rounded-md text-sm font-medium">
                                    Contact
                                </a>
                                <a href="{{ path('ticket_send') }}"
                                   class="block 2xl:hidden transition duration-300 ease-in-out select-none text-blue-700 hover:text-white hover:bg-blue-700 select-none text-white hover:bg-blue-700 hover:text-white px-3 py-2 rounded-md text-sm font-medium">
                                    <svg id="Layer_1" enable-background="new 0 0 512 512" height="18"
                                         viewBox="0 0 512 512" width="18" fill="currentColor"
                                         xmlns="http://www.w3.org/2000/svg">
                                        <g>
                                            <path d="m256 512c-68.38 0-132.667-26.628-181.02-74.98s-74.98-112.64-74.98-181.02 26.628-132.667 74.98-181.02 112.64-74.98 181.02-74.98 132.667 26.628 181.02 74.98 74.98 112.64 74.98 181.02-26.628 132.667-74.98 181.02-112.64 74.98-181.02 74.98zm0-480c-123.514 0-224 100.486-224 224s100.486 224 224 224 224-100.486 224-224-100.486-224-224-224z"/>
                                            <path d="m256 368c-8.836 0-16-7.164-16-16 0-40.386 15.727-78.354 44.285-106.912 17.872-17.873 27.715-41.635 27.715-66.911 0-27.668-22.509-50.177-50.177-50.177h-3.646c-27.668 0-50.177 22.509-50.177 50.177v5.823c0 8.836-7.164 16-16 16s-16-7.164-16-16v-5.823c0-45.313 36.864-82.177 82.177-82.177h3.646c45.313 0 82.177 36.864 82.177 82.177 0 33.823-13.171 65.622-37.088 89.539-22.514 22.513-34.912 52.446-34.912 84.284 0 8.836-7.164 16-16 16z"/>
                                            <path d="m256.02 432c-8.836 0-16.005-7.164-16.005-16s7.158-16 15.995-16h.01c8.836 0 16 7.164 16 16s-7.164 16-16 16z"/>
                                        </g>
                                    </svg>
                                </a>

                                <a href="{{ path('login') }}"
                                   class="hidden 2xl:block transition duration-300 ease-in-out select-none text-blue-700 hover:text-white hover:bg-blue-700 select-none text-white hover:bg-blue-700 hover:text-white px-3 py-2 rounded-md text-sm font-medium">
                                    Connexion
                                </a>
                                <a href="{{ path('login') }}"
                                   class="block 2xl:hidden transition duration-300 ease-in-out select-none text-blue-700 hover:text-white hover:bg-blue-700 select-none text-white hover:bg-blue-700 hover:text-white px-3 py-2 rounded-md text-sm font-medium">
                                    <svg height="18" fill="currentColor" viewBox="0 -32 512.016 512" width="18"
                                         xmlns="http://www.w3.org/2000/svg">
                                        <path d="m192 213.339844c-58.816406 0-106.667969-47.847656-106.667969-106.664063 0-58.816406 47.851563-106.6679685 106.667969-106.6679685s106.667969 47.8515625 106.667969 106.6679685c0 58.816407-47.851563 106.664063-106.667969 106.664063zm0-181.332032c-41.171875 0-74.667969 33.492188-74.667969 74.667969 0 41.171875 33.496094 74.664063 74.667969 74.664063s74.667969-33.492188 74.667969-74.664063c0-41.175781-33.496094-74.667969-74.667969-74.667969zm0 0"/>
                                        <path d="m368 448.007812h-352c-8.832031 0-16-7.167968-16-16v-74.667968c0-55.871094 45.460938-101.332032 101.332031-101.332032h181.335938c55.871093 0 101.332031 45.460938 101.332031 101.332032v74.667968c0 8.832032-7.167969 16-16 16zm-336-32h320v-58.667968c0-38.226563-31.105469-69.332032-69.332031-69.332032h-181.335938c-38.226562 0-69.332031 31.105469-69.332031 69.332032zm0 0"/>
                                        <path d="m496 218.675781h-181.332031c-8.832031 0-16-7.167969-16-16s7.167969-16 16-16h181.332031c8.832031 0 16 7.167969 16 16s-7.167969 16-16 16zm0 0"/>
                                        <path d="m410.667969 304.007812c-4.097657 0-8.191407-1.558593-11.308594-4.691406-6.25-6.253906-6.25-16.386718 0-22.636718l74.027344-74.027344-74.027344-74.027344c-6.25-6.25-6.25-16.382812 0-22.632812s16.382813-6.25 22.636719 0l85.332031 85.332031c6.25 6.25 6.25 16.386719 0 22.636719l-85.332031 85.332031c-3.136719 3.15625-7.234375 4.714843-11.328125 4.714843zm0 0"/>
                                    </svg>
                                </a>

                                <a href="{{ path('registration') }}"
                                   class="hidden 2xl:block transition duration-300 ease-in-out select-none text-blue-700 hover:text-white hover:bg-blue-700 select-none text-white hover:bg-blue-700 hover:text-white px-3 py-2 rounded-md text-sm font-medium">
                                    Inscription
                                </a>
                            {% endif %}

                        </div>

                    </div>
                </div>
            </div>
        </div>

        <div id="mobileMenu" class="hidden sm:hidden">
            <div class="px-2 pt-2 pb-3 space-y-1 flex flex-col bg-white">

                {% if not app.user %}

                    <a href="{{ path('ticket_send') }}"
                       class="transition duration-300 ease-in-out select-none text-blue-700 hover:text-white hover:bg-blue-700 select-none text-white hover:bg-blue-700 px-3 py-2 rounded-md text-sm font-medium">
                        Contact
                    </a>

                    <a href="{{ path('login') }}"
                       class="transition duration-300 ease-in-out select-none text-blue-700 hover:text-white hover:bg-blue-700 select-none text-white hover:bg-blue-700 px-3 py-2 rounded-md text-sm font-medium">
                        Connexion
                    </a>

                    <a href="{{ path('registration') }}"
                       class="transition duration-300 ease-in-out select-none text-blue-700 hover:text-white hover:bg-blue-700 select-none text-white hover:bg-blue-700 px-3 py-2 rounded-md text-sm font-medium">
                        Inscription
                    </a>

                    <hr>

                {% endif %}

                {% if 'administrator' not in app.request.uri and 'redactor' not in app.request.uri %}

                    {% for category in categories %}

                        {% if category.articles is not empty %}
                            <p class="select-none text-blue-700 block px-3 py-2 rounded-md text-base font-bold">{{ category.title }}</p>
                            <hr>
                            {% for article in category.articles %}
                                <a href="{{ path('article_show', { id: article.id }) }}"
                                   class="select-none text-blue-700 hover:bg-blue-700 hover:text-white block px-3 py-2 rounded-md text-base font-medium">{{ article.title }}</a>
                            {% endfor %}
                        {% endif %}

                    {% endfor %}

                {% else %}

                    {% if is_granted('ROLE_ADMIN') %}

                        <a href="{{ path('user_listing') }}"
                           class="select-none text-blue-700 hover:bg-blue-700 px-3 py-2 rounded-md text-sm font-medium">
                            Utilisateurs
                        </a>
                        <a href="{{ path('product_listing') }}"
                           class="select-none text-blue-700 hover:bg-blue-700 px-3 py-2 rounded-md text-sm font-medium">
                            Produits
                        </a>

                        <a href="{{ path('ticket_listing') }}"
                           class="select-none text-blue-700 hover:bg-blue-700 px-3 py-2 rounded-md text-sm font-medium">
                            Tickets
                        </a>

                        <a href="{{ path('newsletter_send') }}"
                           class="select-none text-blue-700 hover:bg-blue-700 px-3 py-2 rounded-md text-sm font-medium">
                            Newsletter
                        </a>

                    {% endif %}

                    <a href="{{ path('category_listing') }}"
                       class="select-none text-blue-700 hover:bg-blue-700 px-3 py-2 rounded-md text-sm
                                font-medium">
                        Catégories
                    </a>

                    <a href="{{ path('article_listing') }}"
                       class="select-none text-blue-700 hover:bg-blue-700 px-3 py-2 rounded-md text-sm font-medium">
                        Articles
                    </a>

                {% endif %}

            </div>
        </div>
    </nav>
</div>

{% block javascripts %}
    {{ encore_entry_script_tags('navbar') }}
{% endblock %}
