{% include 'base.html.twig' %}

{% block stylesheets %}

{% endblock %}

{% block body %}
    <div class="container">
        <h1>MaSalle</h1>

        <div class="mt-5 d-flex justify-content-around">

            {% for product in vm.products %}
                <div class="card" style="width: 22rem;">
                    <img class="card-img-top" src="{{ product.image }}" alt="{{ product.name }}">
                    <div class="card-body d-flex flex-column justify-content-between">
                        <h5 class="card-title">{{ product.name }}</h5>
                        <p class="card-text">{{ product.description|u.truncate(200) }}</p>
                        <h2>{{ product.price }} €</h2>
                        <a href="#" class="btn btn-primary">Voir plus</a>
                    </div>
                </div>
            {% endfor %}
        </div>

    </div>

{% endblock %}
