{% extends 'base.html.twig' %}

{% block title %}MaSalle - Réponse à un ticket {% endblock %}

{% block body %}
    <div class="flex items-center flex-col">

        <h1 class="mt-5 mb-2 text-2xl uppercase font-bold">Réponse à un ticket</h1>

        <div class="flex justify-end mb-3 w-1/2">

            <a href="{{ path('ticket_listing') }}"
               class="mt-5 inline-flex justify-center py-2 px-4 border border-transparent shadow-sm text-sm font-medium rounded-md text-white bg-blue-600 hover:bg-blue-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-blue-500">
                Retour
            </a>
        </div>
        {{ form_start(form, {
            'attr': {
                'class': 'w-1/2'
            }
        }) }}

        {{ form_errors(form) }}

        {{ form_row(form.message, {
            'attr': {
                'class': 'mt-1 focus:ring-pink-600 focus:border-pink-600 block w-full shadow-sm sm:text-sm border-gray-300 rounded-md',
                'rows': '15'
            },
            'label_attr': {
                'class': 'block text-sm font-medium text-gray-700'
            }
        }) }}

        <button type="submit"
                class="mt-5 inline-flex justify-center py-2 px-4 border border-transparent shadow-sm text-sm font-medium rounded-md text-white bg-pink-600 hover:bg-pink-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-pink-500">
            Envoyer
        </button>

        {{ form_end(form) }}

        <hr class="mt-2">

        <div class="bg-white rounded rounded-lg w-1/2">
            <h2 class="pl-2 pt-5 mb-2 text-xl uppercase font-bold">Contenu du ticket</h2>

            <div class="jumbotron p-3 mt-2">
                <p class="italic">{{ ticket.email }} le <span
                            class="text-pink-600">{{ ticket.sendedAt|date('d/m/Y') }}</span> à
                    <span class="text-pink-600">{{ ticket.sendedAt|date('H:m') }}</span></p>
                <hr class="my-4">
                <p class="text-justify capitalize">{{ ticket.message|nl2br }}</p>
            </div>
        </div>

    </div>


{% endblock %}
